/* Form layout */
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;  /* Space between columns */
    margin-bottom: 20px;
  }
  
  .column {
    display: flex;
    flex: 1;
  }
  
  .input-box {
    margin-bottom: 16px;
  }
  
  .input-box select, .input-box input {
    position: relative;
    height: 50px;
    width: 100%; /* Adjust width to make it span the column */
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  
  .areas {
    position: relative;
    height: 50px;
    width: 100%; /* Adjust width to make it span the column */
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }

  @media screen and (max-width: 992px) {
    .dashboard .dash-content{

        width: 100%!important;
        left: 0!important;
        padding-right: 10px;
    }

    nav.close ~ .dashboard {
        left: 0;
        width: 100%;
        margin: 0;
    }

    .profile {
        display: none;
    }

    .input-box {
        width: 100%!important;
        margin-left: 0!important;
        margin-right: 0!important;
    }

    .form button {
        margin: 0;
        margin-top: 30px;
    }
}