/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Style for the modal content */
.modal-content {
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow-y: auto;
}

/* Style for the close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style for the tables inside the modal */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}
/* Style for the button */
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

 @media (max-width: 768px) {
    .navbar_content p {
        display: none;
    }
    th {
        display: block;
        width: 100%;
        font-size: 0.8rem;
    }
    td {
        display: block;
        width: 100%;
        font-size: 0.8rem;
    }
    .modal-content{
        width: 100%!important;
    }

    .dashboard {
        position: static;
        padding-right: 10px!important;
    }

    .dash-content {
        padding-right: 10px!important;
    }

    nav.close ~ .dashboard {
        width: 100%!important;
    }

    .agent-header-row {
        display: none;
    }

    .modal-label {
        display: none;
    }

    .modal-row::before {
        font-weight: bold;
        margin-right: 10px; /* Adds space between the before content and the cell content */
        display: inline-block; /* Ensures it's on the same line */
        width: 80px; /* Adjusts the space for alignment */
    }
    #modal-firstName::before {
        content: "First Name: ";
    }
    
    #modal-lastName::before {
        content: "Last Name: ";
    }
    
    #modal-phoneNumber::before {
        content: "Phone Number: ";
    }
    
    #modal-email::before {
        content: "Email: ";
    }
    
    #modal-team::before {
        content: "Team: ";
    }
    
    #modal-role::before {
        content: "Role: ";
    }
} 