.dash-content {
    margin-left: 200px;
    margin-top: 180px;
    padding: 0px 100px;
}

.status-dropdown {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    padding: 5px 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.status-dropdown.pending {
    background-color: #ff9800;
    color: white;
}

.status-dropdown.paid {
    background-color: #4caf50;
    color: white;
}

.status-dropdown.cancelled {
    background-color: #f44336;
    color: white;
}

.status-dropdown.received {
    background-color: #2196f3;
    color: white;
}

.dash-content {
    margin-top: 100px!important;
}


/* Edit button - Blue */
#edit-product {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#edit-product:hover {
    background-color: #0056b3;
}

/* Save button - Green */
#save-product {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#save-product:hover {
    background-color: #218838;
}

/* Delete button - Red */
#delete-product {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#delete-product:hover {
    background-color: #c82333;
}


@media (max-width: 768px) {

    .table-header-row {
        display: none;
    }

    .dash-content {
        margin-left: 0!important;
        margin-top: 0!important;
        padding: 0!important;
    }

    .navbar_content p {
        display: none;
    }

    .modal-product-content {
        width: 100%;
        margin-top: 50%;
    }
    
        th {
            display: block;
            width: 100%;
            font-size: 0.8rem;
        }
        td {
            display: block;
            width: 100%;
            font-size: 0.8rem;
        }
    
        .dashboard {
            position: static;
            padding-right: 10px!important;
        }
    
        .dash-content {
            padding-right: 10px!important;
        }
    
        nav.close ~ .dashboard {
            width: 100%!important;
        }


        .table-data {
            display: block;
            width: 100%;
            font-size: 0.8rem;
        }
        .table-data::before {
            font-weight: bold;
            margin-right: 10px; /* Adds space between the before content and the cell content */
            display: inline-block; /* Ensures it's on the same line */
            width: 80px; /* Adjusts the space for alignment */
        }
        .table-data:nth-of-type(1):before {
            content: "ID: ";
        }
        .table-data:nth-of-type(2):before {
            content: "Product: ";
        }
        .table-data:nth-of-type(3):before {
            content: "Description: ";
        }
        .table-data:nth-of-type(4):before {
            content: "Brand: ";
        }
        .table-data:nth-of-type(5):before {
            content: "Price: ";
        }
        .table-data:nth-of-type(6):before {
            content: "Discount: ";
        }
    }